.provider-profile.panel.fill
	.header
		i.fa.fa-chevron-left(ng-click="gotoPage('search')")
		.title Profil
	.sub-header
		.provider-name Platynowe Dziewczyny
		.provider-title Agencja Towarzyska (Mokotow, Warszawa, Polska)
	.body
		.bar: .title Galeria
		.row.images.border
			img.fill.thumb(border=0)
			img.fill.thumb(border=0)
			img.fill.thumb(border=0)
			img.fill.thumb(border=0)
		
		.space-lg
		.bar: .title Opis
		.border.pad 24 lata, fajna dupa ze mnie
		
		.space-lg
		.bar: .title Kontakt
		.table
			.row
				.col.w200 Phone
				.col.fill 905 921 5199
			.row
				.col.w200 Email
				.col.fill kasia@serveus.com
		
		.space-lg
		.bar: .title Opis
		.border.pad 24 lata, fajna dupa ze mnie
		
		.space-lg
		.row
			.column.fill
				.bar
					.title Uslugi			
				.list.border
					.item
						.title Cleaning
						.user-rating
							i.fa.fa-thumbs-o-up 
							span 25
						.user-rating
							i.fa.fa-thumbs-o-down
							span 5
					.item: .title Ironing
					.item: .title Babysitting
					.item: .title Shovelling snow
		
			.space-lg
			.column.fill
				.bar
					.title Cennik			
				.table
					.row
						.col.w200 Godzina u ciebie
						.col.fill 200 zl
					.row
						.col.w200 Godzina u mnie
						.col.fill 150 zl
					.row
						.col.w200 Dodatkowe dziecko
						.col.fill 50 zl/godz
		
		.space-lg
		.row
			.column.fill
				.bar
					.title Godziny
				.table
					.row
						.col.w200 Poniedzialek
						.col.fill 10 - 23
					.row
						.col.w200 Wtorek
						.col.fill 12 - 23
			
			.space-lg
			.column.fill
				.bar
					.title Kalendaz na Maj 2015
					i.fa.fa-chevron-left
					i.fa.fa-chevron-right
				.table
					.header
						.col.fill Po
						.col.fill Wt
						.col.fill Sr
						.col.fill Cz
						.col.fill Pt
						.col.fill So
						.col.fill Ni
					.row
		
		.space-lg
		.bar
			.title Komentarze klientow (25)
		.list.border
			.item: .title Polecam
			.item: .title Bardzo dobra kobieta
				
			
			
				
			
					
			
			
