// CONTAINERS
.row
	display: flex
	flex-direction row

.column
	display: flex
	flex-direction column

.center
	display: flex
	align-items center
	justify-content center

.center-v
	display: flex
	align-items center

.center-h
	display: flex
	justify-content center

.pad
	padding 10px

.pad-half
	padding 5px

.space
	width 2px
	height 2px

.space-lg
	width 10px
	height 10px

.fill
	flex 1

.float
	position absolute
	&.top
		top 10px
	&.bottom
		bottom 10px
	&.left
		left 10px
	&.right
		right 10px
	&.row.left
		left 25px
	&.row.right
		right 25px

.w200
	width 200px
.w300
	width 300px
.w400
	width 400px
