doctype html
html
	head
		title Private site
		meta(charset="utf-8")
		meta(name="description",content="private")
		meta(name="keywords",content="keyword")
		meta(name="author",content="Integral Systems Inc.")
		link(rel="apple-touch-icon" href="/apple-touch-icon.png")
		link(rel="icon" href="/favicon.ico")
	body
		div This site is private
