.passreset .buttons {
  display: flex;
  justify-content: space-between;
}
.passreset .title {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}
.passreset .error {
  color: #f00;
  padding: 10px;
  border: 1px solid #f00;
}
