div.section.header.middle This is a section header
form.middle.panel
	.header This is a form inside of a panel
	.body
		div.form-group
			label Text
			input.form-control(
				type='text'
				ng-model="kkjh"
			)
			div.form-group
				label Text
				input.form-control(
					type='textarea'
					ng-model="ghjjhg"
				)
						
		.checkbox
			label
				input(type="checkbox", ng-model="dupa")
				text Something
		.radio
			label
				input(type="radio", ng-model="asdasd")
				text Haha
	.footer
		button.btn.btn-primary Submit
		
table.middle
	tr
		th Dupa
		th uasdasd
		th asdasd
	tr
		td Dupa
		td uasdasd
		td asdasd
	tr
		td Dupa
		td uasdasd
		td asdasd
			
			
