.passreset
	.buttons
		display: flex
		justify-content: space-between

	.title
		border-bottom 1px solid #ccc
		padding 5px
		margin-bottom 10px

	.error
		color red
		padding 10px
		border 1px solid red
