.provider-profile
	// .sub-header

	.provider-name
		font-size 30px

	.provider-title
		font-weight bold
		padding-left 2px

	.images
		padding 10px

	img.thumb
		width 220px
		height 170px
		border-right 1px solid $light
		&:last-child
			border-right: none

	.user-rating
		@extends .row, .center
		border 1px solid $light
		padding 2px
		padding-right 10px
		margin 2px
		margin-left 0

	.price, .hour
		text-align right

	.price, .hour, .contact
		margin-left -1px

	.social
		position relative
	.edit-fb
		position: absolute
		right: 0
		bottom -10px

	.photo-strip
		position: relative

	#location-search
		border 1px solid $light
