$light = #6fb3f7
$medium = #3696f7
$dark = #007af4
$darki = #FFF

html
	height 100%

body
	padding 0
	margin 0
	height 100%

.app
	display flex
	flex-direction column
	>.header
		background-color $dark
		color $darki
		padding 10px
		display flex
		align-items center
		>.logo
			width: 50px
			height: 50px
			border: 1px solid black
			margin-right 20px
		>.title
			font-family: 'Days One', sans-serif;
			font-size: 20px
			flex 1
			cursor: default
		>.area
			padding 10px
			text-align: center
			min-width 80px
			border 1px outset $dark
			margin-left 2px
			cursor: default
		>.button
			padding 10px
			text-align: center
			min-width 80px
			border 1px outset $dark
			margin-left 2px
			cursor pointer
			&:hover
				background-color $medium

		.balance
			margin-left: 0
			border-left: 0

		.pay
			margin-left: 0
			margin-right: 10px
			border-left: 0

	>.nav
		background-color $medium
		border-top: 1px solid $dark
		border-bottom: 1px solid $medium
		display flex
		align-items: center
		justify-content: flex-end
		.item
			padding: 10px 30px
			color $darki
			text-decoration none
			cursor pointer
			border-left: 1px solid $light
			&:hover
				background-color $light
				color: $darki
		.item.active
			background-color $dark
			color: $darki

	>.content
		flex 1
		padding 10px

	>.footer
		padding 10px
		color: $medium
		font-size 12px
		font-weight bold
		text-transform uppercase
		text-align center
		border-top 1px solid $light


.noselect {
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
}

.btn
	min-width 100px

.panel
	border: 1px solid $medium
	margin: 10px 0
	.header
		background-color $medium
		color: $darki
		padding: 10px
	.body
		padding: 10px
		text-align: left
	.footer
		border-top: 1px solid $light
		padding: 10px

table
	border: 1px solid $medium
	border-radius: 5px
	tr
		th
			background-color $medium
			font-weight: normal
			text-align: inherit
			color: $darki
			padding 10px

		td
			padding: 10px
			border: 1px solid $light

.middle
	margin 10px auto
	width 500px
	text-align: center

.form-group
	label
		margin 10px 0 2px 0
		font-size: 12px

.error
	padding: 10px
	color: red
	border 1px solid red
	margin: 10px 0

.section.header
	padding 10px 0 5px 0
	border-bottom: 1px solid $light
